<h1>Player 1 Board</h1>
<table>
  <% @board.each do |coord, cell| %>
    <% if coord.slice(1..coord.length) == "1" %>
      <tr><td><%= cell.hit? ? "*" : "~" %></td>
    <% elsif coord.slice(1..coord.length) == "10" %>
      <td><%= cell.hit? ? "*" : "~" %></td></tr>
    <% else %>
      <td><%= cell.hit? ? "*" : "~" %></td> 
    <% end %>
  <% end %>
</table>     
