<% if GAME.player1 && GAME.player1 != ""%>

  <meta http-equiv="refresh" content="1">
  <h2><%= @player %> has declared war.</h2>
  <h3>Waiting for a retaliation</h3>

<% elsif GAME.player1 == "" %>

  <form action="/" method="post">
    Enter your name to join a game!
    <input type="text" name="player" placeholder="Player Name?">
    <input type="submit" value="Submit">
  </form>

<% else %>
 Enter your name to join a game!
  <form action="/" method="post">
    <input type="text" name="player">
    <input type="submit" value="Submit">
  </form>

<% end %>