<% if @player2 && @player2 != "" %>

  <h1><a href="/game">Start Game</a></h1>

<% elsif @player2 == "" %>

  <p>try again</p>
  <form action="/setup" method="post">
    <input type="text" name="player2" placeholder="Player 2?">
    <input type="submit" value="Submit">
  </form>

<% end %>