html{margin: 0px;padding: 0px;width: 100%;}
body{padding:200px;background:#000066;color:#fff;}
h1{font-family: 'Bowlby One SC', cursive;color:#fff;}
.main-header{text-align: center;}
input{font-size: 200%;margin:auto;}